*{
    margin: 0%;
    padding: 0%;
}
.signUp {
    /* make the entire signUp page full screen */
    height: 100vh;
    width: 100vw;
    /* add NETFLIX bg img */
    /* then add a linear gradient, by default to bottom, to make the bg slowly fade */
    background:
    linear-gradient(rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%),
    url("https://assets.nflxext.com/ffe/siteui/vlv3/0ef67cc5-0aa7-47cf-87bd-7f595afc7cfb/d0244cef-01de-496e-9a1b-5ef041edc7b9/BH-en-20221107-popsignuptwoweeks-perspective_alpha_website_large.jpg");
    background-size: cover;
    background-repeat: no-repeat;

}

.header {
    padding: 25px 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.NetflixLogo {
    height: 6vh;
}

.signInButton{
    cursor: pointer;
    background-color: #e50914;
    color: white;
    float: right;
    border: none;
    border-radius: 5px;
    padding: 7px 17px;
    font-size: 1rem;
    font-weight: 400;
}

.container {
    color: white;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

}

h1 {
    font-size: 55px;
    margin-bottom: 15px;
  }

  p {
    margin-top: 28px;
    font-size: 25px;
  }


  .emailInputField {
    width: 46%;
    background-color: white;
    display: flex;
    margin-top: 21px;
    height: 50px;
    border-radius: 3px;
  }

  input{
    flex: 9;
    height: 100%;
    padding: 0 10px;

  }


  .signUpButton{
    cursor: pointer;
    flex: 3;
    height: 108%;
    border-radius: 0 3px 3px 0;
    background-color: #e50914;
    border: none;
    color: white;
    font-size: 22px;
    border-color: #e50914;
}


