/* *{
    color: white;
} */
.home{
    background-color: var(--main-color);
    overflow: hidden;
    
}

.featuredTrailer {
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
}