.navbar {
    width: 100%;
    color: white;
    font-size: 14px;
    position: fixed;
    top: 0;
    z-index: 999;
    background: linear-gradient(to top, transparent 0%, rgb(0, 0, 0, 0.3) 50%);
    
  
}
.scrolled{
      background-color: var(--main-color);
    }
  
    .NavBarcontainer {
      padding: 13px 80px;
      display: flex;
      align-items:initial;
      justify-content: space-between;
      height: 70px;
  
    }
    .List{
        justify-content: space-between;
        padding: 10px;
        margin-left: 10px;
      }
      .items{
        margin-left: 20px;
        display: inline-block;
        font-size: 20px;
        text-decoration: none;
        color:white;
    }
    .left {
        display: flex;     
       ;
    }
    .auth{
        font-size: 15px;
        text-align: right;
        position: absolute;
        right: 0px;
        width: 300px;
        padding: 10px;
    }
  .navBarLogo{
    height: 20vh;
    margin-top: 10%;
    margin-left: -70px;
    
  }