*{
    margin: 0%;
    padding: 0%;
}

.signIn {
    /* make the entire login page full screen */
    height: 100vh;
    width: 100vw;
    /* add NETFLIX bg img */
    /* then add a linear gradient, by default to bottom, to make the bg slowly fade */
    background:
    linear-gradient(rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%),
    url("https://assets.nflxext.com/ffe/siteui/vlv3/0ef67cc5-0aa7-47cf-87bd-7f595afc7cfb/d0244cef-01de-496e-9a1b-5ef041edc7b9/BH-en-20221107-popsignuptwoweeks-perspective_alpha_website_large.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.header {
    padding: 6vh;
}
    
.NetflixLogo {
    height: 40px;
}

.loginContainer {
    width: 31%;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
}

h1{
    color: white;
}

.loginForm {
    width: 300px;
    height: 100px;
    padding-top: 30px;
    padding-bottom: 40px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 auto;
}


.loginButton {
    height: 40px;
    border-radius: 5px;
    background-color: #e50914;
    color: white;
    margin: 0 auto;
    border: none;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 30px;
    align-items: center;

  }

    
span {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    color: lightgray;
  }
